In [1]:
from bs4 import BeautifulSoup
import requests

response = requests.get("https://opensyllabus.org/results-list/titles?size=50&usState=AK")
doc = BeautifulSoup(response.text)

In [2]:
# Both of these select div's with the class 'title'
doc.find_all('div', class_='title')
doc.select('.title')

[]

In [3]:
# !pip install selenium

In [4]:
# web driver talks to each browser. the web driver needs to be installed, so you have to download it
# originally you had to do https://chromedriver.chromium.org/, but now you can use a web driver manager
# !pip install webdriver-manager

## Part 1: Open Syllabus

In [5]:
# from selenium import webdriver
# driver = webdriver.Chrome()

# the above breaks ^ 
# this bottom code tells us: start a web driver and also install the proper web driver if you need it

from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager

driver = webdriver.Chrome(ChromeDriverManager().install())

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [/Users/ilenapeng/.wdm/drivers/chromedriver/mac64/96.0.4664.45/chromedriver] found in cache
/var/folders/9x/ttxn_gwj0592mr6h8s5y29980000gn/T/ipykernel_82343/1485413653.py:10: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

In [6]:
# IRL, you'll probably need all of these when you work with Selenium
import pandas as pd

import time

from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select

from webdriver_manager.chrome import ChromeDriverManager

/Users/ilenapeng/.pyenv/versions/3.9.7/lib/python3.9/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [7]:
driver.get("https://opensyllabus.org/results-list/titles?size=50&usState=AK")

In [8]:
# Sadly can't do this any more
# driver.find_elements_by_class_name("title")
# By.CLASS_NAME or By.ID or By.CSS_SELECTOR
titles = driver.find_elements(By.CLASS_NAME, "title")
for title in titles:
    print(title.text)

ADVANCED FILTERS
11,072 Titles
CLEAR FILTER
The Elements of Style
William Strunk
Multiple Editions
The Craft of Scientific Presentations: Critical Steps to Succeed and Critical Errors to Avoid
Michael Alley
Multiple Editions
Chemistry and Chemical Reactivity
Paul M. Treichel, John C. Kotz, Paul Treichel
Multiple Editions
Essential Algebra for Chemistry Students
David W. Ball
Brooks / Cole,2006
The Feynman Lectures on Physics
Richard Phillips Feynman
Multiple Editions
Biological Science
Scott Freeman
Multiple Editions
An Introduction to Dynamic Meteorology
James R. Holton
Multiple Editions
Physics for Scientists and Engineers
Raymond A. Serway
Multiple Editions
Geophysical Fluid Dynamics
Joseph Pedlosky
Springer Publishing,1979
Writing Papers in the Biological Sciences
Vicky McMillan
St. Martin's / Bedford Books,1988
Alcibiades
Plutarch
Multiple Editions
Mathematical Methods in the Physical Sciences
Mary L. Boas
Multiple Editions
Atmosphere-Ocean Dynamics
Adrian E. Gill
Elsevier / Academic Press,1982
Introduction to Geophysical Fluid Dynamics
Benoit Cushman-Roisin
Multiple Editions
Philosophic Classics
Forrest E. Baird
Pearson / Prentice Hall,1997
Div, Grad, Curl, and All That: An Informal Text on Vector Calculus
H. M. Schey
W. W. Norton,1973
Brock Biology of Microorganisms
Michael T. Madigan
Multiple Editions
How to Write and Publish a Scientific Paper
Robert A. Day
Multiple Editions
Meno
Plato
Multiple Editions
A Short Guide to Writing About Biology
Jan A. Pechenik
Multiple Editions
Flora of Alaska and Adjacent Parts of Canada
Jacob Peter Anderson
Multiple Editions
Human Anatomy and Physiology
Elaine Nicpon Marieb
Multiple Editions
Human Anatomy and Physiology Laboratory Manual
Elaine Nicpon Marieb
Pearson / Benjamin Cummings,1981
Essential Cell Biology
Bruce Alberts
Garland Publishing,1998
Flora of the Yukon Territory
William J. Cody
National Research Publishing Company,2000
The Canterbury Tales
Geoffrey Chaucer
Multiple Editions
No Exit
Jean-Paul Sartre
Multiple Editions
Fundamentals of Physics
David Halliday
Wiley,1970
Animal Behavior: An Evolutionary Approach
John Alcock
Sinauer Associates,1975
Introduction to General, Organic and Biochemistry
Frederick A. Bettelheim
Multiple Editions
Handbook of Mathematical Functions With Formulas, Graphs, and Mathematical Tables
Milton Abramowitz
Multiple Editions
Plant Identification Terminology: An Illustrated Glossary
James G. Harris
Spring Lake Publishing,1994
The Power of Testing Memory: Basic Research and Implications for Educational Practice
Henry L. Roediger, Jeffrey D. Karpicke
SAGE,2006
A Handbook of Silicate Rock Analysis
P. J. Potts
Multiple Editions
Democracy
Thomas Jefferson
Multiple Editions
The Circumpolar Arctic Vegetation Map
Donald A. Walker, Martha K. Raynolds, Fred J. A. DaniÃ«ls
Journal of Vegetation Science,2005
Energy and Trace-Gas Fluxes Across a Soil pH Boundary in the Arctic
D. A. Walker, N. A. Auerbach, J. G. Bockheim
Springer Nature,1998
Lehninger Principles of Biochemistry
Michael M. Cox, David L. Nelson
Multiple Editions
Mathematical Methods for Physicists
George B. Arfken
Multiple Editions
Using Geochemical Data
Hugh R. Rollinson
Multiple Editions
Writing Science: How to Write Papers That Get Cited and Proposals That Get Funded
Joshua Schimel
Oxford University Press,2012
Retrieval Practice Produces More Learning Than Elaborative Studying With Concept Mapping
J. D. Karpicke, Jeffrey D. Karpicke, J. R. Blunt
Science,2011
Organic Chemistry
John McMurry
Brooks / Cole,1984
The Problems of Philosophy
Bertrand Russell
Multiple Editions
Evolution
Douglas J. Futuyma
Multiple Editions
Chemistry
Raymond Chang
Multiple Editions
A Primer of Ecology
Nicholas J. Gotelli
Sinauer Associates,1995
Weeds of California and Other Western States
Joseph M. DiTomaso
Multiple Editions
Aims and Methods of Vegetation Ecology
Dieter Mueller-Dombois
Wiley,1974
Fundamentals of Atmospheric Dynamics and Thermodynamics
C. Riegel
World Scientific,1992

In [9]:
# printing this will pull out gibberish for us! so you just have to get good about knowing what you're searching for
# here i'm printing just one for example
title
# but for full, print:
# titles

In [10]:
# driver.page_source gives us the entire page source
# and then you can load it into beautiful soup

# the reason using beautiful soup to request this page in doesn't work is because this page uses Javascript to run
# and loads on user selection

doc = BeautifulSoup(driver.page_source)

# BEAUTIFUL SOUP IS FASTER THAN SELENIUM, BUT SOME PAGES CAN'T BE SCRAPED -- SO IT'S A TRADEOFF

In [11]:
# Go find 
books = doc.select('.title-list ul li')
len(books)

50

In [12]:
# the title is inside a p tag and inside an a tag
# <div class="name-div"><p><a href="/result/title?id=8297876850707">The Craft of Scientific Presentations: 
# Critical Steps to Succeed and Critical Errors to Avoid</a></p>

# author is in span class 'name'
# <span class="name"><div><a href="/result/author?id=Michael+Alley">Michael Alley</a></div></span>

# score is in class = score

for book in books:
    print('----')
    title = book.select_one('.title p a').text
    print(title)
    name = book.select_one('span.name').text
    print(name)
    score = book.select_one('.score').text
    print(score)

----
The Elements of Style
William Strunk
100
----
The Craft of Scientific Presentations: Critical Steps to Succeed and Critical Errors to Avoid
Michael Alley
17
----
Chemistry and Chemical Reactivity
Paul M. Treichel,Â John C. Kotz,Â Paul Treichel
36
----
Essential Algebra for Chemistry Students
David W. Ball
4
----
The Feynman Lectures on Physics
Richard Phillips Feynman
77
----
Biological Science
Scott Freeman
54
----
An Introduction to Dynamic Meteorology
James R. Holton
29
----
Physics for Scientists and Engineers
Raymond A. Serway
87
----
Geophysical Fluid Dynamics
Joseph Pedlosky
13
----
Writing Papers in the Biological Sciences
Vicky McMillan
51
----
Alcibiades
Plutarch
7
----
Mathematical Methods in the Physical Sciences
Mary L. Boas
55
----
Atmosphere-Ocean Dynamics
Adrian E. Gill
17
----
Introduction to Geophysical Fluid Dynamics
Benoit Cushman-Roisin
11
----
Philosophic Classics
Forrest E. Baird
8
----
Div, Grad, Curl, and All That: An Informal Text on Vector Calculus
H. M. Schey
16
----
Brock Biology of Microorganisms
Michael T. Madigan
95
----
How to Write and Publish a Scientific Paper
Robert A. Day
73
----
Meno
Plato
69
----
A Short Guide to Writing About Biology
Jan A. Pechenik
58
----
Flora of Alaska and Adjacent Parts of Canada
Jacob Peter Anderson
2
----
Human Anatomy and Physiology
Elaine Nicpon Marieb
100
----
Human Anatomy and Physiology Laboratory Manual
Elaine Nicpon Marieb
96
----
Essential Cell Biology
Bruce Alberts
75
----
Flora of the Yukon Territory
William J. Cody
2
----
The Canterbury Tales
Geoffrey Chaucer
100
----
No Exit
Jean-Paul Sartre
21
----
Fundamentals of Physics
David Halliday
95
----
Animal Behavior: An Evolutionary Approach
John Alcock
45
----
Introduction to General, Organic and Biochemistry
Frederick A. Bettelheim
17
----
Handbook of Mathematical Functions With Formulas, Graphs, and Mathematical Tables
Milton Abramowitz
16
----
Plant Identification Terminology: An Illustrated Glossary
James G. Harris
11
----
The Power of Testing Memory: Basic Research and Implications for Educational Practice
Henry L. Roediger,Â Jeffrey D. Karpicke
5
----
A Handbook of Silicate Rock Analysis
P. J. Potts
3
----
Democracy
Thomas Jefferson
2
----
The Circumpolar Arctic Vegetation Map
Donald A. Walker,Â Martha K. Raynolds,Â Fred J. A. DaniÃ«ls
2
----
Energy and Trace-Gas Fluxes Across a Soil pH Boundary in the Arctic
D. A. Walker,Â N. A. Auerbach,Â J. G. Bockheim
1
----
Lehninger Principles of Biochemistry
Michael M. Cox,Â David L. Nelson
90
----
Mathematical Methods for Physicists
George B. Arfken
60
----
Using Geochemical Data
Hugh R. Rollinson
12
----
Writing Science: How to Write Papers That Get Cited and Proposals That Get Funded
Joshua Schimel
10
----
Retrieval Practice Produces More Learning Than Elaborative Studying With Concept Mapping
J. D. Karpicke,Â Jeffrey D. Karpicke,Â J. R. Blunt
3
----
Organic Chemistry
John McMurry
85
----
The Problems of Philosophy
Bertrand Russell
46
----
Evolution
Douglas J. Futuyma
24
----
Chemistry
Raymond Chang
22
----
A Primer of Ecology
Nicholas J. Gotelli
17
----
Weeds of California and Other Western States
Joseph M. DiTomaso
2
----
Aims and Methods of Vegetation Ecology
Dieter Mueller-Dombois
2
----
Fundamentals of Atmospheric Dynamics and Thermodynamics
C. Riegel
2

In [13]:
# to have the above as a list of dictionaries, do 

dataset = []

for book in books:
    data = {}
    data['title'] = book.select_one('.title p a').text
    data['name'] = book.select_one('span.name').text
    data['score'] = book.select_one('.score').text
    # Every time we go through the loop, append the book to 
    dataset.append(data)

print(dataset)

[{'title': 'The Elements of Style', 'name': 'William Strunk', 'score': '100'}, {'title': 'The Craft of Scientific Presentations: Critical Steps to Succeed and Critical Errors to Avoid', 'name': 'Michael Alley', 'score': '17'}, {'title': 'Chemistry and Chemical Reactivity', 'name': 'Paul M. Treichel,\xa0John C. Kotz,\xa0Paul Treichel', 'score': '36'}, {'title': 'Essential Algebra for Chemistry Students', 'name': 'David W. Ball', 'score': '4'}, {'title': 'The Feynman Lectures on Physics', 'name': 'Richard Phillips Feynman', 'score': '77'}, {'title': 'Biological Science', 'name': 'Scott Freeman', 'score': '54'}, {'title': 'An Introduction to Dynamic Meteorology', 'name': 'James R. Holton', 'score': '29'}, {'title': 'Physics for Scientists and Engineers', 'name': 'Raymond A. Serway', 'score': '87'}, {'title': 'Geophysical Fluid Dynamics', 'name': 'Joseph Pedlosky', 'score': '13'}, {'title': 'Writing Papers in the Biological Sciences', 'name': 'Vicky McMillan', 'score': '51'}, {'title': 'Alcibiades', 'name': 'Plutarch', 'score': '7'}, {'title': 'Mathematical Methods in the Physical Sciences', 'name': 'Mary L. Boas', 'score': '55'}, {'title': 'Atmosphere-Ocean Dynamics', 'name': 'Adrian E. Gill', 'score': '17'}, {'title': 'Introduction to Geophysical Fluid Dynamics', 'name': 'Benoit Cushman-Roisin', 'score': '11'}, {'title': 'Philosophic Classics', 'name': 'Forrest E. Baird', 'score': '8'}, {'title': 'Div, Grad, Curl, and All That: An Informal Text on Vector Calculus', 'name': 'H. M. Schey', 'score': '16'}, {'title': 'Brock Biology of Microorganisms', 'name': 'Michael T. Madigan', 'score': '95'}, {'title': 'How to Write and Publish a Scientific Paper', 'name': 'Robert A. Day', 'score': '73'}, {'title': 'Meno', 'name': 'Plato', 'score': '69'}, {'title': 'A Short Guide to Writing About Biology', 'name': 'Jan A. Pechenik', 'score': '58'}, {'title': 'Flora of Alaska and Adjacent Parts of Canada', 'name': 'Jacob Peter Anderson', 'score': '2'}, {'title': 'Human Anatomy and Physiology', 'name': 'Elaine Nicpon Marieb', 'score': '100'}, {'title': 'Human Anatomy and Physiology Laboratory Manual', 'name': 'Elaine Nicpon Marieb', 'score': '96'}, {'title': 'Essential Cell Biology', 'name': 'Bruce Alberts', 'score': '75'}, {'title': 'Flora of the Yukon Territory', 'name': 'William J. Cody', 'score': '2'}, {'title': 'The Canterbury Tales', 'name': 'Geoffrey Chaucer', 'score': '100'}, {'title': 'No Exit', 'name': 'Jean-Paul Sartre', 'score': '21'}, {'title': 'Fundamentals of Physics', 'name': 'David Halliday', 'score': '95'}, {'title': 'Animal Behavior: An Evolutionary Approach', 'name': 'John Alcock', 'score': '45'}, {'title': 'Introduction to General, Organic and Biochemistry', 'name': 'Frederick A. Bettelheim', 'score': '17'}, {'title': 'Handbook of Mathematical Functions With Formulas, Graphs, and Mathematical Tables', 'name': 'Milton Abramowitz', 'score': '16'}, {'title': 'Plant Identification Terminology: An Illustrated Glossary', 'name': 'James G. Harris', 'score': '11'}, {'title': 'The Power of Testing Memory: Basic Research and Implications for Educational Practice', 'name': 'Henry L. Roediger,\xa0Jeffrey D. Karpicke', 'score': '5'}, {'title': 'A Handbook of Silicate Rock Analysis', 'name': 'P. J. Potts', 'score': '3'}, {'title': 'Democracy', 'name': 'Thomas Jefferson', 'score': '2'}, {'title': 'The Circumpolar Arctic Vegetation Map', 'name': 'Donald A. Walker,\xa0Martha K. Raynolds,\xa0Fred J. A. DaniÃ«ls', 'score': '2'}, {'title': 'Energy and Trace-Gas Fluxes Across a Soil pH Boundary in the Arctic', 'name': 'D. A. Walker,\xa0N. A. Auerbach,\xa0J. G. Bockheim', 'score': '1'}, {'title': 'Lehninger Principles of Biochemistry', 'name': 'Michael M. Cox,\xa0David L. Nelson', 'score': '90'}, {'title': 'Mathematical Methods for Physicists', 'name': 'George B. Arfken', 'score': '60'}, {'title': 'Using Geochemical Data', 'name': 'Hugh R. Rollinson', 'score': '12'}, {'title': 'Writing Science: How to Write Papers That Get Cited and Proposals That Get Funded', 'name': 'Joshua Schimel', 'score': '10'}, {'title': 'Retrieval Practice Produces More Learning Than Elaborative Studying With Concept Mapping', 'name': 'J. D. Karpicke,\xa0Jeffrey D. Karpicke,\xa0J. R. Blunt', 'score': '3'}, {'title': 'Organic Chemistry', 'name': 'John McMurry', 'score': '85'}, {'title': 'The Problems of Philosophy', 'name': 'Bertrand Russell', 'score': '46'}, {'title': 'Evolution', 'name': 'Douglas J. Futuyma', 'score': '24'}, {'title': 'Chemistry', 'name': 'Raymond Chang', 'score': '22'}, {'title': 'A Primer of Ecology', 'name': 'Nicholas J. Gotelli', 'score': '17'}, {'title': 'Weeds of California and Other Western States', 'name': 'Joseph M. DiTomaso', 'score': '2'}, {'title': 'Aims and Methods of Vegetation Ecology', 'name': 'Dieter Mueller-Dombois', 'score': '2'}, {'title': 'Fundamentals of Atmospheric Dynamics and Thermodynamics', 'name': 'C. Riegel', 'score': '2'}]

In [14]:
df = pd.DataFrame(dataset)
df.head()

,title,name,score
0,The Elements of Style,William Strunk,100
1,The Craft of Scientific Presentations: Critica...,Michael Alley,17
2,Chemistry and Chemical Reactivity,"Paul M. Treichel,Â John C. Kotz,Â Paul Treichel",36
3,Essential Algebra for Chemistry Students,David W. Ball,4
4,The Feynman Lectures on Physics,Richard Phillips Feynman,77

In [15]:
# to click the show more button 10 times: this says find the button class btnPagination, click it 10 times, 
# waiting two seconds in between each click
for i in range(10):
    driver.find_element(By.CLASS_NAME, "btnPagination").click()
    time.sleep(2)

# and then you can run your scrape code again

In [16]:
# OR you can look @ network tab when interacting with site > look at headers > can find their 
# secret API / request URL to load into beautiful soup
response = requests.get("https://explorer-api.opensyllabus.org/v1/works.json?size=500&usState=NY")
data = response.json()

In [17]:
pd.DataFrame(data['results']['works'])

,id,rank,name,subtitle,publisher,publishDate,score,appearances,openAccess,persons
0,8306467210251,1,The Communist Manifesto,None,"{'id': None, 'name': 'Multiple Editions'}",NaN,100,849,False,"[{'id': 'Karl Marx', 'name': 'Karl Marx'}]"
1,7636452301400,2,The Republic,None,"{'id': None, 'name': 'Multiple Editions'}",NaN,100,844,False,"[{'id': 'Plato', 'name': 'Plato'}]"
2,7980049403911,3,Second Treatise of Government,None,"{'id': None, 'name': 'Multiple Editions'}",NaN,99,694,False,"[{'id': 'John Locke', 'name': 'John Locke'}]"
3,7507602833850,4,Frankenstein,None,"{'id': None, 'name': 'Multiple Editions'}",NaN,100,614,False,"[{'id': 'Mary Wollstonecraft Shelley', 'name':..."
4,7507602833494,5,Confessions,None,"{'id': None, 'name': 'Multiple Editions'}",NaN,96,605,False,"[{'id': 'Augustine', 'name': 'Augustine'}]"
...,...,...,...,...,...,...,...,...,...,...
495,33629593930128,496,The C++ Programming Language,None,"{'id': 'Pearson / Addison Wesley', 'name': 'Pe...",1986.0,87,78,False,"[{'id': 'Bjarne Stroustrup', 'name': 'Bjarne S..."
496,8048768767966,497,Relativity,None,"{'id': None, 'name': 'Multiple Editions'}",NaN,82,78,False,"[{'id': 'Albert Einstein', 'name': 'Albert Ein..."
497,8624294790888,498,Song of Myself,None,"{'id': None, 'name': 'Multiple Editions'}",NaN,79,78,False,"[{'id': 'Walt Whitman', 'name': 'Walt Whitman'}]"
498,7507602833869,499,Great Expectations,None,"{'id': None, 'name': 'Multiple Editions'}",NaN,79,78,False,"[{'id': 'Charles Dickens', 'name': 'Charles Di..."
499,16243566319745,500,Savage Inequalities: Children in America's Sch...,Children in America's Schools,"{'id': None, 'name': 'Multiple Editions'}",NaN,78,78,False,"[{'id': 'Jonathan Kozol', 'name': 'Jonathan Ko..."

## Part 2: South Dakota licenses

In [18]:
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get("https://apps.sd.gov/ld17btp/licenseelist.aspx")

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [/Users/ilenapeng/.wdm/drivers/chromedriver/mac64/96.0.4664.45/chromedriver] found in cache
/var/folders/9x/ttxn_gwj0592mr6h8s5y29980000gn/T/ipykernel_82343/3732145651.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

In [19]:
# to find the search box
driver.find_element(By.ID, 'ctl00_ContentPlaceHolder1_txtName')

# xpath is a specific way to talk about elements on a page. if you click it and you don't want to read the actual code
# right click, copy, copy XPath or copy Full XPath (both work):
# driver.find_element(By.XPATH, '/html/body/form/div[3]/div[2]/table/tbody/tr/td/table/tbody/tr[2]/td/table/tbody/tr[2]/td/table/tbody/tr[1]/td[3]/input')

In [20]:
# to search in the search box
driver.find_element(By.ID, 'ctl00_ContentPlaceHolder1_txtName').send_keys('Arnold')

In [21]:
# to click the search button
driver.find_element(By.ID, 'ctl00_ContentPlaceHolder1_btnSearch').click()

In [22]:
# select within a table and then scroll up til you find its root
driver.find_element(By.ID, 'ctl00_ContentPlaceHolder1_rgLicensee_ctl00')

In [23]:
# grab table off of the page
table = driver.find_element(By.ID, 'ctl00_ContentPlaceHolder1_rgLicensee_ctl00')

# then feed html using .get
df = pd.read_html(table.get_attribute('outerHTML'))[0]
df.head()

  Command item  |                                                             \
       Profession                Name             Address               City
     Command item  Unnamed: 1_level_2  Unnamed: 2_level_2 Unnamed: 3_level_2
0             NaN                   |                 NaN                NaN
1              PE    Barry Kay Arnold  1193 W. Fallow Way      Pleasant View
2              FE       Dawn M Arnold                 NaN               None
3              FE  Eric Joseph Arnold                 NaN               None
4              FE     George S Arnold                 NaN               None

                                                                               \
               State                Zip              Phone RegistrationNumber
  Unnamed: 4_level_2 Unnamed: 5_level_2 Unnamed: 6_level_2 Unnamed: 7_level_2
0                NaN                NaN                NaN                NaN
1                 UT            84414.0     (801) 782-6008               6615
2                 XX                0.0                NaN             E-7281
3                 XX                0.0                NaN             E-5825
4                 XX                0.0                NaN             E-7527


             PEDisc.     ExpirationDate              Status
  Unnamed: 8_level_2 Unnamed: 9_level_2 Unnamed: 10_level_2
0                NaN                NaN                 NaN
1                 CE          8/31/2022              Active
2                NaN                NaN              Intern
3                NaN                NaN              Intern
4                NaN                NaN              Intern

## Part 3: Utah licensee lookup

In [24]:
# Launch a new Chrome, install the appropriate ChromeDriver if necessary
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get("https://secure.utah.gov/llv/search/index.html")

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [/Users/ilenapeng/.wdm/drivers/chromedriver/mac64/96.0.4664.45/chromedriver] found in cache
/var/folders/9x/ttxn_gwj0592mr6h8s5y29980000gn/T/ipykernel_82343/3834455923.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

In [25]:
# select the geologist checkbox and click it
driver.find_element(By.ID, 'item115').click()

In [26]:
# click the search button
driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[2]/form/fieldset[3]/p[1]/input[1]').click()

In [28]:
table = driver.find_element(By.CLASS_NAME, "resultsTable")
df = pd.read_html(table.get_attribute('outerHTML'))[0]
df.head()

,Licensee Name,City,Profession,License #,Status
0,AARON BURNS,STRASBURG,GEOLOGIST PROFESSIONAL GEOLOGIST,5269857-2250,EXPIRED
1,AARON JOHN CANTRELL,BOISE,GEOLOGIST PROFESSIONAL GEOLOGIST,8494206-2250,ACTIVE
2,AARON LEE NORTON,FARMINGTON,GEOLOGIST PROFESSIONAL GEOLOGIST,9174027-2250,ACTIVE
3,ADAM ISAAC HISCOCK,SALT LAKE CITY,GEOLOGIST PROFESSIONAL GEOLOGIST,9404658-2250,ACTIVE
4,ADAM PAUL MCKEAN,SALT LAKE CITY,GEOLOGIST PROFESSIONAL GEOLOGIST,9255409-2250,ACTIVE

In [29]:
driver.find_element(By.ID, "pagination-next").click()

In [30]:
table = driver.find_element(By.CLASS_NAME, "resultsTable")
df = pd.read_html(table.get_attribute('outerHTML'))[0]
df.head()

,Licensee Name,City,Profession,License #,Status
0,ANTHONY FELIX STIRBYS,WOODINVILLE,GEOLOGIST PROFESSIONAL GEOLOGIST,5377508-2250,EXPIRED
1,ANTHONY JOHN CARMELI,GOLDEN,GEOLOGIST PROFESSIONAL GEOLOGIST,5526774-2250,ACTIVE
2,ANTHONY MAGLIOCCHINO,SANDY,GEOLOGIST PROFESSIONAL GEOLOGIST,5327371-2250,ACTIVE
3,ANTHONY R PAWLOSKI,TUCSON,GEOLOGIST PROFESSIONAL GEOLOGIST,167723-2250,EXPIRED
4,ARIC MORTON,SANDY,GEOLOGIST PROFESSIONAL GEOLOGIST,11585804-2250,ACTIVE

In [31]:
dataframes = []

# Keep doing this.... FOREVER????
while True:
    # Get a new dataframe
    table = driver.find_element(By.CLASS_NAME, "resultsTable")
    df = pd.read_html(table.get_attribute('outerHTML'))[0]
    
    # Each time we pull a table off the page,
    # add it to our list of dataframes
    dataframes.append(df)
    
    # Try to click the next button
    try:
        driver.find_element(By.ID, "pagination-next").click()
    except:
        # If it can't find it, exit the while loop
        break

In [32]:
df = pd.concat(dataframes, ignore_index=True)
df.head()

,Licensee Name,City,Profession,License #,Status
0,ANTHONY FELIX STIRBYS,WOODINVILLE,GEOLOGIST PROFESSIONAL GEOLOGIST,5377508-2250,EXPIRED
1,ANTHONY JOHN CARMELI,GOLDEN,GEOLOGIST PROFESSIONAL GEOLOGIST,5526774-2250,ACTIVE
2,ANTHONY MAGLIOCCHINO,SANDY,GEOLOGIST PROFESSIONAL GEOLOGIST,5327371-2250,ACTIVE
3,ANTHONY R PAWLOSKI,TUCSON,GEOLOGIST PROFESSIONAL GEOLOGIST,167723-2250,EXPIRED
4,ARIC MORTON,SANDY,GEOLOGIST PROFESSIONAL GEOLOGIST,11585804-2250,ACTIVE

In [33]:
# click the boxes
# athlete agents
driver.find_element(By.ID, 'item8').click()
# handymen
driver.find_element(By.ID, 'item118').click()
# radiologists
driver.find_element(By.ID, 'item268').click()

In [35]:
# click search
driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[2]/form/fieldset[3]/p[1]/input[1]').click()

In [36]:
# load each of the pages
dataframes = []

# Keep doing this.... FOREVER????
while True:
    # can add time.sleep(1) to always wait one second for resultsTable to show up
    # OR wait for resultsTable to appear on the page. if it takes longer than 3 seconds, just give up and throw error
    WebDriverWait(driver, 3).until(
        EC.presence_of_element_located((By.CLASS_NAME, 'resultsTable'))
    )
    
    # Get a new dataframe
    table = driver.find_element(By.CLASS_NAME, "resultsTable")
    df = pd.read_html(table.get_attribute('outerHTML'))[0]
    
    # Each time we pull a table off the page,
    # add it to our list of dataframes
    dataframes.append(df)
    
    # Try to click the next button
    try:
        driver.find_element(By.ID, "pagination-next").click()
    except:
        # If it can't find it, exit the while loop
        break

In [37]:
df = pd.concat(dataframes, ignore_index=True)
df.head()

,Licensee Name,City,Profession,License #,Status
0,AUSTIN KEITH HANSON DBA: WOOLF INTERIORS,OGDEN,CONTRACTOR HANDYMAN EXEMPTION,12234193-5500,ACTIVE
1,DAKOTA JAMES STEWARTDBA: STEWARTS PAINTING AND...,SAINT GEORGE,CONTRACTOR HANDYMAN EXEMPTION,12580385-5500,ACTIVE
2,THE UINTA CRAFTSMAN LLC,PEOA,CONTRACTOR HANDYMAN EXEMPTION,12393868-5500,ACTIVE
3,"""THE FIXER"" CHRIS BROTHERS LLC",MURRAY,CONTRACTOR HANDYMAN EXEMPTION,10847890-5500,ACTIVE
4,1 CREATOR PAINTING AND DESIGN LLC,SALT LAKE CITY,CONTRACTOR HANDYMAN EXEMPTION,11004846-5500,ACTIVE

In [38]:
df.shape

(10500, 5)

In [40]:
df.Profession.value_counts()

RADIOLOGY  RADIOLOGIC TECHNOLOGIST           3915
CONTRACTOR  HANDYMAN EXEMPTION               3826
RADIOLOGY  RADIOLOGY PRACTICAL TECHNICIAN    2616
ATHLETE AGENTS  ATHLETE AGENT                 130
RADIOLOGY  RADIOLOGIST ASSISTANT               13
Name: Profession, dtype: int64

In [42]:
df.groupby('Profession').City.value_counts().groupby(level=0).head(1)

Profession                                 City
ATHLETE AGENTS  ATHLETE AGENT              NEW YORK           11
CONTRACTOR  HANDYMAN EXEMPTION             SALT LAKE CITY    594
RADIOLOGY  RADIOLOGIC TECHNOLOGIST         SALT LAKE CITY    324
RADIOLOGY  RADIOLOGIST ASSISTANT           GRAND JUNCTION      2
RADIOLOGY  RADIOLOGY PRACTICAL TECHNICIAN  SALT LAKE CITY    229
Name: City, dtype: int64

## Part 4: Oil and gas wells

In [ ]:
# Launch a new Chrome, install the appropriate ChromeDriver if necessary
driver = webdriver.Chrome(ChromeDriverManager().install())

driver.get("https://www.dmr.nd.gov/oilgas/findwellsvw.asp")