# Venmo

Venmo is used for two things:

1. Sending money to people
2. Spying on people sending money to people

For some reason, they have (...had) a public API. You can find it here: https://venmo.com/api/v5/public

## Using the Venmo API

### Make a _successful_ request to the Venmo API

You'll need to pretend to be a browser, which means your request will need to include `headers={'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:32.0) Gecko/20100101 Firefox/32.0'}`.

In [1]:
import requests
import pandas as pd

/Users/ilenapeng/.pyenv/versions/3.9.7/lib/python3.9/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
url = "https://venmo.com/api/v5/public"

response = requests.get(url, headers={'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:32.0) Gecko/20100101 Firefox/32.0'})
data = response.json()

## How many results do you get by default?

In [3]:
# data.keys()
# dict_keys(['paging', 'data'])

len(data['data'])

13

## Print out each transaction's username and message

In [4]:
data['data'][0]['transactions'][0]['target']['name']
data['data'][1]['transactions'][0]['target']['name']
data['data'][2]['transactions'][0]['target']['name']

'John G'

In [5]:
data['data'][0]['message']

'Miss you'

In [6]:
for transaction in data['data']:
    print(transaction['transactions'][0]['target']['name'])
    print(transaction['message'])
    print('-----')

Erica M
Miss you
-----
Jordan K
Groceries
-----
John G
Virtual coffee date!!!
-----
Pluto S
To help w/ your bills this month
-----
Liz A
Thanks for everything you do
-----
Aaron D
Rent's due, dude
-----
Kaylee N
Takeout > Going out
-----
Woot H
Thank you, friend
-----
Sean N
Pizza for din. And bfast too.
-----
Annalee L
You got this
-----
Benny N
Dinner
-----
Liz A
Treat yo self
-----
Ashley P
Grab a snack on me!
-----

## Convert the list of transactions into a dataframe.

In [7]:
dataset = []
for transaction in data['data']:
    each_transaction = {}
    each_transaction['name'] = transaction['transactions'][0]['target']['name']
    each_transaction['message'] = transaction['message']
    dataset.append(each_transaction)
print(dataset)

[{'name': 'Erica M', 'message': 'Miss you'}, {'name': 'Jordan K', 'message': 'Groceries'}, {'name': 'John G', 'message': 'Virtual coffee date!!!'}, {'name': 'Pluto S', 'message': 'To help w/ your bills this month'}, {'name': 'Liz A', 'message': 'Thanks for everything you do'}, {'name': 'Aaron D', 'message': "Rent's due, dude"}, {'name': 'Kaylee N', 'message': 'Takeout > Going out'}, {'name': 'Woot H', 'message': 'Thank you, friend'}, {'name': 'Sean N', 'message': 'Pizza for din. And bfast too.'}, {'name': 'Annalee L', 'message': 'You got this'}, {'name': 'Benny N', 'message': 'Dinner'}, {'name': 'Liz A', 'message': 'Treat yo self'}, {'name': 'Ashley P', 'message': 'Grab a snack on me!'}]

In [8]:
pd.DataFrame(dataset)

         name                           message
0     Erica M                          Miss you
1    Jordan K                         Groceries
2      John G            Virtual coffee date!!!
3     Pluto S  To help w/ your bills this month
4       Liz A      Thanks for everything you do
5     Aaron D                  Rent's due, dude
6    Kaylee N               Takeout > Going out
7      Woot H                 Thank you, friend
8      Sean N     Pizza for din. And bfast too.
9   Annalee L                      You got this
10    Benny N                            Dinner
11      Liz A                     Treat yo self
12   Ashley P               Grab a snack on me!

## But now: to reality

You should cry a little bit, because **this data isn't real**. It *used* to be real, but it isn't any more, because Venmo finally decided it was a bit too much of an invasion of privacy.